@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

$heading_font: 'DM Serif Display', serif;
$text_font: 'Karla', sans-serif;

$font_size: 16px;

.text-bold{
    font-weight: 700;
}
