.btn{
    padding:10px 30px;
    border:2px solid $neutral_light;
    background: transparent;
    color: $neutral_light;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.btn:hover{
    background: $neutral_light;
    color: $neutral_dark;
}
