@import '_fonts.scss','_colors.scss','_navbar.scss','_form.scss';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: $font_size;
    font-family: $text_font;
}
.container{
    padding-left:10%;
    padding-right:10%;
}
section{
    min-height:calc(100vh - 60px);
    width: 100%;
}
hr{
    position: absolute;
    top:0;
    width: 150px;
    border:0;
    border-top:2px solid $neutral_mid;
}
h1{
    font-size:4em;
    font-family: $heading_font;
}
section#landing{
    background-color:$neutral_dark;
    color:$neutral_light;
    position: relative;
    div.white_box{
       position: absolute;
       height: 20vh;
       width:100%;
       background-color: white; 
       bottom: 0;
    }
    div.wires{
        position: absolute;
        height: 100%;
        width:100%;
        background: url("../images/bg-pattern-intro-left-desktop.svg") no-repeat, url("../images/bg-pattern-intro-right-desktop.svg") no-repeat;
        background-position: left bottom, right top;
        z-index: 1;
        // background-size:10vw 0vh,auto auto  ;
     }
    .container{
        display: flex;
        flex-direction: row;
        padding-top:5%;
        position: relative;
        div.intro_text{
            width:50%;
            padding: 5% 5% 5% 0;
            position: relative;
            p{
                line-height: 2em;
                margin-bottom: 1em;
            }
        }
        div.intro_img{
            position: absolute;
            width: 540px;
            height:650px;
            right:10%;
            background: url("../images/image-intro-desktop.jpg") no-repeat;
            
        }
    }
}
section#second{
    padding:5% 0;
    .container{
        padding-top:5%;
        position: relative;
        h1{
            color:$primary;
        }
        .cards{
            padding: 30px 0;
            display: flex;
            flex-direction: row;
            .card{
                padding: 20px 10px;
                margin:0 10px;
                line-height: 1.5em;
                h4{
                    font-size: 1.5em;
                    font-family: $heading_font;
                    margin:1em 0;
                }
                p{
                    color:$neutral_mid;
                }
            }
        }
    }
}
section#third{
    min-height: unset;
    padding-bottom: 5%;
    .container{
        .callout{
            background: url("/images/bg-pattern-how-we-work-desktop.svg") no-repeat;
            background-position: right top;
            background-color: $primary;
            padding: 30px 50px;
            color:$neutral_light;
            display: flex;
            // justify-content: center;
            align-items: center;
            .callout_head{
                width: 60%;
                p{
                    font-size: 1.2em;
                    line-height: 1.5em;
                }
            }
            .callout_btn{
                width: 40%;
                position: relative;
                height: 40px;
                .btn{
                    position: absolute;
                    right:0;
                }
            }
        }
    }
}
footer{
    background-color: $neutral_light;
    padding:30px 10%;
    text-align: center;
    .footer_links{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        ul{
            list-style-type: none;
        }
    }
}

@media(max-width: 700px){
    .container{
        padding-left:10px;
        padding-right:10px;
    }
    
    h1{
        font-size:2.5em;
    }
    hr{
        display: none;
    }
    section#landing{
        background-color:$neutral_dark;
        color:$neutral_light;
        position: relative;
        div.white_box{
            display: none;
           position: absolute;
           height: 20vh;
           width:100%;
           background-color: white; 
           bottom: 0;
        }
        div.wires{
            position: absolute;
            height: 100%;
            width:100%;
            background: url("../images/bg-pattern-intro-left-mobile.svg") no-repeat, url("../images/bg-pattern-intro-right-mobile.svg") no-repeat;
            background-position: left bottom, right top;
            z-index: 1;
            // background-size:10vw 0vh,auto auto  ;
         }
        .container{
            display: flex;
            flex-direction: column-reverse;
            padding-top:5%;
            padding-bottom: 5%;
            position: relative;
            div.intro_text{
                width:100%;
                text-align: center;
                padding: 15px;
                position: relative;
                p{
                    line-height: 2em;
                    margin-bottom: 1em;
                }
            }
            div.intro_img{
                position: relative;
                $w:100%;
                width: $w;
                height:451px;
                right:unset;
                background: url("../images/image-intro-mobile.jpg") no-repeat;
                
            }
        }
    }
    section#third{
        .container{
            .callout{
                text-align: center;
                background: url("/images/bg-pattern-how-we-work-mobile.svg") no-repeat;
                background-position: right top;
                background-color: $primary;
                padding: 50px 30px;
                color:$neutral_light;
                display: flex;
                flex-direction: column;
                .callout_head{
                    width: 100%;
                    p{
                        font-size: 1.2em;
                        line-height: 1.5em;
                    }
                }
                .callout_btn{
                    width: 100%;
                    position: relative;
                    height: 40px;
                    margin: 20px;
                    .btn{

                        position: relative;
                        
                    }
                }
            }
        }
        footer{
            background-color: $neutral_light;
            margin-top:10%;
            padding:5% 10%;
            .footer_links{
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                ul{
                    list-style-type: none;
                }
            }
        }
    }
    section#second{
        padding:5% 0;
        text-align: center;
        .container{
            padding-top:5%;
            position: relative;
            h1{
                color:$primary;
            }
            .cards{
                padding: 30px 0;
                display: flex;
                flex-direction: column;
                .card{
                    padding: 20px 10px;
                    margin:0 10px;
                    line-height: 1.5em;
                    h4{
                        font-size: 1.5em;
                        font-family: $heading_font;
                        margin:1em 0;
                    }
                    p{
                        color:$neutral_mid;
                    }
                }
            }
        }
    }   
}
